.partOne {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(../../../assets/image/SlideThreePartOne.png) center/contain no-repeat;
}
.subtitle {
    position: absolute;
    font-size: 25px;
    color: white;
    text-align: center;
    width: 270px;
    height: 60px;
    top: 60.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding-top: 20px;
}
.organB {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.organB img {
    width: 35px !important;
    height: 60px !important;
}
.organMuscle {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.organLiver {
    position: absolute;
    top: 55%;
    right: 13%;
    transform: translate(-50%, -50%);
}
.line {
    position: absolute;
    background: white;
    width: 2px;
}
.lineOne {
    height: 200px;
    top: 35%;
    left: 38%;
    transform: rotate(231deg);
}
.lineOne::before {
    content: '\25b2';
    position: absolute;
    color: white;
    top: -15px;
    left: -4px;
}
.lineTwo {
    height: 84px;
    top: 42%;
    left: 50%;
}
.lineTwo::before {
    content: '\25b2';
    position: absolute;
    color: white;
    bottom: -15px;
    right: -6px;
    transform: rotate(179deg);
}

.lineThree {
    height: 200px;
    top: 36%;
    left: 61%;
    transform: rotate(130deg);
}
.lineThree::before {
    content: '\25b2';
    position: absolute;
    color: white;
    top: -14px;
    left: -5px;
}

.lineFour {
    height: 50px;
    top: 58%;
    left: 32%;
    transform: rotate(90deg);
}
.lineFour::before {
    content: '\25b2';
    position: absolute;
    color: white;
    top: -15px;
    right: -6px;
}
.lineFife {
    height: 40px;
    top: 59%;
    left: 67.5%;
    transform: rotate(90deg);
}
.lineFife::before {
    content: '\25b2';
    position: absolute;
    color: white;
    bottom: -15px;
    left: -6px;
    transform: rotate(180deg);
}
