.partThree {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(../../../assets/image/SlideThreePartThree.png) center/contain no-repeat;
}
.subtitle {
    position: absolute;
    bottom: 32%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    font-size: 30px;
}
.organName {
    font-size: 20px;
}
.group {
    border-top: 2px solid transparent;
    position: absolute;
    width: 290px;
    height: 450px;
    bottom: 15px;
    right: 50px;
    border-radius: 15%;
    background: linear-gradient(0deg, #060d1e 36%, #33366e 75%);
    z-index: -1;
}
.groupTitle {
    color: white;
    font-size: 18px;
    margin-top: 14px;
}
.group .groupOrganWrapper, .organBrain .groupOrganWrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin-left: 14px;
}
.group .organImg {
    margin: 0;
    margin-right: 10px;
}
.group .organImg img {
    height: 55px;
}
.group .organNumber, .organBrain .organNumber {
    text-align: left;
}
.organB {
    position: absolute; 
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.organB .organDescrWrap {
    display: flex;
    width: 215px;
}
.organB .organNumber {
    font-size: 50px;
    margin-right: 15px;
}
.organB .organName {
    font-size: 40px;
}
.organB .organImg {
    height: 80px;
    width: 80px;
}
.organB .organImg img {
    width: 35px;
    height: 70px;
}
.organBrain {
    position: absolute;
    right: -1%;
    top: 17%;
    transform: translate(-50%, 50%);
}
.organKidney {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.organKidney .groupOrganWrapper, .organIntestines .groupOrganWrapper, .organInfection .groupOrganWrapper, .organStomach .groupOrganWrapper  {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}
.organKidney .organNnumber, .organIntestines .organNumber, .organIinfection .organNumber, .organStomach .organNumber {
    text-align: right;
}
.organKidney .organDescrWrap, .organIntestines .organDescrWrap, .organInfection .organDescrWrap, .organStomach .organDescrWrap {
    margin-right: 10px;
}
.organIntestines {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.organIntestines .groupOrganWrapper{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}
.organIntestines .organName {
    width: 150px;
    text-align: end;
}
.organInfection {
    position: absolute;
    top: 45%;
    left: 11%;
    transform: translate(-42%, -50%);
}
.organInfection .groupOrganWwrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}
.organInfection .organName {
    width: 280px;
    text-align: end;
}
.organStomach {
    position: absolute;
    top: 68%;
    left: 23%;
    transform: translate(-50%, -50%);
}
.organStomach .groupOrganWrapper  {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}
.defect {
    position: absolute;
    left: 53%;
    top: 45%;
}
.defectNum {
    color: white;
    font-size: 34px;
    text-align: start;
}
.defectName {
    color: white;
    font-size: 18px;
}
.defectArrow {
    position: absolute;
    background: white;
    width: 2px;
    height: 15px;
    bottom: -19px;
    left: 5px;
}
.defectArrow::before {
    content: '\25b2';
    position: absolute;
    color: white;
    transform: rotate(-180deg);
    left: -5px;
    bottom: -17px;
}
.effect {
    position: absolute;
    top: 45%;
    left: 36%;
    display: flex;
}
.effectNum {
    color: white;
    font-size: 34px;
    text-align: end;
}
.effectName {
    color: white;
    font-size: 18px;
    width: 121px;
    text-align: end;
}
.effectArrow {
    position: relative;
}
.effectArrow::before {
    content: '\2199';
    position: absolute;
    color: white;
    transform: rotate(-45deg);
    font-size: 25px;
    bottom: 18px;
    left: -25px;
}
.amilin {
    position: absolute;
    bottom: 42%;
    left: 25%;
    display: flex;
}
.amilinArrow::before {
    content: '\2199';
    position: absolute;
    color: white;
    transform: rotate(-45deg);
    font-size: 17px;
    bottom: -2px;
    left: -20px;
}
.amilinName, .glukonName {
    color: white;
    font-size: 15px;
}
.glukon {
    position: absolute;
    bottom: 39%;
    right: 39.5%;
    display: flex;
}
.glukonArrow::before {
    content: '\2199';
    position: absolute;
    color: white;
    transform: rotate(-45deg);
    font-size: 17px;
    bottom: -2px;
    left: -20px;
}
.line {
    position: absolute;
    background: white;
    width: 2px;
}
.lineOne::before, .lineTwo::before, .lineThree::before, .lineFour::before, .lineFife::before, .lineSix::before, .lineSeven::before, .lineEight::before, .lineNine::before, .lineTen::before, .lineEleven::before, .lineTwelve::before, .lineThirteen::before, .lineFourteen::before, .lineFifteen::before, .lineSixteen::before, .lineSeventeen::before, .lineEightteen::before, .lineNineteen::before, .lineTwenty::before, .lineTwentyOne::before, .lineTwentyTwo::before {
    content: '\25b2';
    position: absolute;
    color: white;
    left: -5px;
    bottom: -13px;
    transform: rotate(180deg);
}

.lineOne {
    height: 129px;
    position: absolute;
    top: 18%;
    left: 39%;
    transform: rotate(80deg);
}
.lineTwo {
    height: 129px;
    position: absolute;
    top: 20%;
    left: 39%;
    transform: rotate(-100deg);
}
.lineThree {
    height: 165px;
    position: absolute;
    top: 24%;
    left: 39%;
    transform: rotate(60deg);
}
.lineFour {
    height: 165px;
    position: absolute;
    top: 27%;
    left: 39%;
    transform: rotate(239deg);
}
.lineFife {
    height: 254px;
    position: absolute;
    top: 26.5%;
    left: 38%;
    transform: rotate(50deg);
}
.lineSix {
    height: 93px;
    position: absolute;
    top: 32.5%;
    left: 48%;
    transform: rotate(8deg);
}
.lineSeven {
    height: 93px;
    position: absolute;
    top: 32.5%;
    left: 48%;
    transform: rotate(8deg);
}
.lineEight {
    height: 250px;
    position: absolute;
    top: 32.5%;
    left: 50%;
}
.lineNine {
    height: 93px;
    position: absolute;
    top: 32.5%;
    left: 52%;
    transform: rotate(-10deg);
}
.lineTen {
    height: 140px;
    position: absolute;
    top: 28.5%;
    left: 59%;
    transform: rotate(-55deg);
}
.lineEleven {
    height: 140px;
    position: absolute;
    top: 27%;
    left: 60%;
    transform: rotate(125deg);
}
.lineTwelve {
    height: 165px;
    position: absolute;
    top: 19%;
    left: 63%;
    transform: rotate(-82deg);
}
.lineThirteen {
    height: 165px;
    position: absolute;
    top: 17%;
    left: 63.5%;
    transform: rotate(98deg);
}
.lineFourteen {
    height: 19px;
    position: absolute;
    top: 35%;
    left: 74.5%;
}
.lineFifteen {
    height: 19px;
    position: absolute;
    top: 35.6%;
    left: 76%;
    transform: rotate(180deg);
}
.lineSixteen {
    height: 28px;
    position: absolute;
    top: 58%;
    left: 27%;
}
.lineSseventeen {
    height: 100px;
    position: absolute;
    top: 55.6%;
    left: 34%;
    transform: rotate(308deg);
}
.lineEightteen {
    height: 67px;
    position: absolute;
    top: 64.6%;
    left: 35%;
    transform: rotate(270deg);
}
.lineNineteen {
    height: 60px;
    position: absolute;
    top: 57.6%;
    left: 45%;
}
.lineTwenty {
    height: 30px;
    position: absolute;
    top: 61.6%;
    left: 53.5%;
}
.lineTwentyOne {
    height: 20px;
    position: absolute;
    top: 70.6%;
    left: 47.5%;
}
.lineTwentyTwo {
    height: 20px;
    position: absolute;
    top: 71%;
    left: 49%;
    transform: rotate(180deg);
}
  