.partTwo {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(../../../assets/image/SlideThreePartTwo.png) center/contain no-repeat;
}
.container {
    position: relative;
}
.organName {
    font-size: 24px;
    color: white;
    line-height: 30px;
}
.organImg {
    width: 70px;
    height: 70px;
}
.subtitle {
    position: absolute;
    font-size: 35px;
    color: white;
    text-align: center;
    width: 400px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 55px 0;
}
.wrapper {
    position: relative;
    background: #45477c;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}
.defect {
    position: absolute;
    top: 29%;
    right: 26.5%;
    transform: translate(-50%,-50%);
}
.defectName {
    width: 102px;
    position: absolute;
    top: 8px;
    right: -110px;
    text-align: start;
}

.effect {
    position: absolute;
    top: 29%;
    left: 34%;
    transform: translate(-50%,-50%);
}
.effectName {
    width: 170px;
    position: absolute;
    top: 6px;
    left: -180px;
    text-align: end;
}
.defectNum, .effectNum {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
}
.defectName, .effectName {
    font-size: 24px;
    color: white;
    line-height: 30px;
    font-weight: 500;
}

.organB {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
} 
.organB .organImg img {
    width: 25px;
    height: 50px;
}

.organMuscle {
    position: absolute;
    bottom: 6%;
    right: 21%;
    transform: translate(-50%,-50%);
}
.organMuscle .organImg img {
    width: 60px;
    height: 45px;
}
.organLiver {
    position: absolute;
    bottom: 6%;
    right: 37.5%;
    transform: translate(-50%,-50%);
}
.organLiver .organImg img {
    width: 50px;
    height: 40px;
}
.organLipid {
    position: absolute;
    top: 54%;
    right: 8%;
    transform: translate(-50%,-50%);
}
.organLipid .organNumber {
    position: absolute;
    top: 5px;
    right: -5px;
}
.organLipid .organName {
    position: absolute;
    bottom: 35px;
    right: -80px;
    width: 100px;
}
.organBrain {
    position: absolute;
    bottom: 6%;
    left: 33%;
    transform: translate(-50%,-50%);
}
.organBrain .organImg img, .organLipid .organImg img {
    width: 50px;
    height: 50px;
}
.organBrain .organImg, .organMuscle .organImg, .organLiver .organImg {
    position: absolute;
    top: 0;
    left: 25%;
}
.organBrain .organNumber, .organMuscle .organNumber, .organLiver .organNumber{
    padding-top: 75px;
}
.organKidney {
    position: absolute;
    top: 55%;
    left: 21%;
    transform: translate(-50%,-50%);
}
.organKidney .organImg img {
    top: 43%;
    left: 40%;
    width: 60px;
    height: 60px;
}
.organKidney .organNumber {
    position: absolute;
    top: 12px;
    left: -4px;
}
.organKidney .organName {
    position: absolute;
    bottom: 65px;
    left: -55px;
}

.line {
    position: absolute;
    background: white;
    width: 2px;
}

.lineOne {
    height: 33px;
    top: 33.5%;
    left: 34%;
}
.lineOne::before, .lineTwo::before, .lineThree::before {
    content: '\25b2';
    position: absolute;
    color: white;
    transform: rotate(180deg);
    bottom: -14px;
    left: -6px;
}
.lineTwo {
    height: 35px;
    top: 33.5%;
    left: 50%;
}

.lineThree {
    height: 35px;
    right: 33%;
    top: 33.5%;
}
.lineFour {
    height: 54px;
    top: 45.5%;
    right: 26.5%;
    transform: rotate(90deg);
}
.lineFour::before {
    content: '\25b2';
    position: absolute;
    color: white;
    transform: rotate(181deg);
    bottom: -14px;
    left: -6px;
}
.lineFife {
    height: 25px;
    top: 61%;
    left: 66.5%;
}
.lineFife::before, .lineSix::before, .lineSeven::before {
    content: '\25b2';
    position: absolute;
    color: white;
    top: -10px;
    left: -6px;
}
.lineSix {
    height: 25px;
    top: 61%;
    left: 50%;
}
.lineSeven {
    height: 25px;
    top: 61%;
    left: 33.5%;
}
.lineEight {
    height: 50px;
    top: 46%;
    left: 27%;
    transform: rotate(90deg);
}
.lineEight::before {
    content: '\25b2';
    position: absolute;
    color: white;
    top: -13px;
    left: -5px;
}
